
/* スタイルの初期化 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* デフォルトのフォントと背景色 */
  body {
    font-family: sans-serif;
    
  }
  
  /* コンテナのスタイル */
  .container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* テキスト入力ボックスのスタイル */
  #textInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* ボタンのスタイル */
  button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
  }
  
  /* プレビューのスタイル */
  #preview {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* リセットボタンとシェアボタンを横並びにする */
  .resetButton,
  .shareButton {
    display: inline-block;
  }
  
  /* リセットボタンとシェアボタンのマージン */
  .resetButton {
    margin-right: 10px;
  }
  
  /* レスポンシブデザインのためのメディアクエリ */
  @media (max-width: 468px) {
    .container {
      padding: 10px;
    }
  
    button {
      display: block;
      width: 50%;
      margin-bottom: 10px;
    }
  
    .resetButton,
    .shareButton {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  /* ホバーアニメーション */
button:hover {
    background-color: #dddddd; /* ホバー時の背景色 */
  }
  
  
